# Игнорируем тяжелые сырые данные (если они больше 100МБ)
*.fq
*.fastq
*.fastq.gz

# Игнорируем индексные файлы референса (их проще создать заново)
*.amb
*.ann
*.bwt
*.pac
*.sa
*.fai

# Игнорируем тяжелые промежуточные файлы выравнивания
*.sam
*.bam
*.bai

# Игнорируем результаты и логи (они сохраняются в артефактах)
*.vcf
*.bcf
*.log
*.html
*.json

# Игнорируем системные папки Python и Docker
__pycache__/
all_logs/
multiqc_report/