name: Bio Pipeline Auto-Scale

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  # ЗАДАЧА 1: НАХОДИМ ВСЕ ОБРАЗЦЫ
  find-samples:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v4
      - id: set-matrix
        # Этот скрипт ищет все .fq файлы и превращает их имена в список для GitHub
        run: |
          SAMPLES=$(ls *.fq | sed 's/\.fq//' | jq -R -s -c 'split("\n") | del(.[] | select(. == ""))')
          echo "matrix=$SAMPLES" >> $GITHUB_OUTPUT

  # ЗАДАЧА 2: АНАЛИЗИРУЕМ (теперь список берется из первой задачи)
  analysis:
    needs: find-samples
    runs-on: ubuntu-latest
    strategy:
      matrix:
        sample: ${{ fromJson(needs.find-samples.outputs.matrix) }}
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t variant-caller .

      - name: "Run Pipeline for ${{ matrix.sample }}"
        run: |
          docker run -v .:/app -w /app variant-caller sh -c "
          bwa index ref.fa && \
          fastp -i ${{ matrix.sample }}.fq -o clean.fq -h report.html && \
          bwa mem ref.fa clean.fq > align.sam && \
          samtools sort align.sam -o sorted.bam && \
          bcftools mpileup -f ref.fa sorted.bam | bcftools call -mv -Ob -o variants.bcf"

      - name: Upload Results
        uses: actions/upload-artifact@v4
        with:
          name: results-${{ matrix.sample }}
          path: |
            *.bcf
            report.html