name: Bio Pipeline CI
on:
  push:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t bio_pipeline .

      - name: Run analysis test
        run: docker run bio_pipeline